<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>The Little Introduction To Programming</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/css/book.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/site.js"></script>
    <%- partial('shared/ga') %>
  </head>
  <body>
    <div id="header">
      <div class="content">
        <h1><a href="/">The Little Introduction To Programming</a></h1>
        <h2 id="toc"><%- chapters[chapter-1] %></h2>
      </div>
    </div>
    <%- partial('shared/toc') %>
    <div id="content">
      <%- partial('shared/ie6') %>
      <%- body %>
      <%- partial('shared/paging') %>
    </div>
    <%- partial('shared/footer') %>
  </body>
</htlm>